/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

.himg {
    min-height: 400px;
    max-height: 550px;
}

.himglist {
    min-height: 350px;
    max-height: 350px;
}